---
import { Icon } from "astro-icon/components";
import { highlightAuthorName } from "../utils/highlightAuthorName";

const { author } = Astro.props;

let longname = author.name;
let shortname = author.name;
if (author.family) {
  longname = author.family;
  shortname = author.family;
}
if (author.given && author.family) {
  longname = `${author.given} ${author.family}`;
  shortname = `${author.family} ${author.given.substr(0, 1)}`;
}
const highlightedShortname = highlightAuthorName(shortname);
---

<span title={longname}>
  {
    author.ORCID ? (
      <a href={author.ORCID} target="_blank">
        <Icon name="simple-icons:orcid" size="16px" class="inline opacity-50" />
        <Fragment set:html={highlightedShortname} />
      </a>
    ) : (
      <Fragment set:html={highlightedShortname} />
    )
  }
</span>

<style>
  a {
    white-space: nowrap;
  }
</style>
