---
import { getCollection } from "astro:content";

import BaseLayout from "@layouts/BaseLayout.astro";
import PageTitle from "@components/PageTitle.astro";
import HorizontalCard from "@components/HorizontalCard.astro";
import HomepageButton from "@components/HomepageButton.astro";

const projects = await getCollection("projects");
---

<BaseLayout title="Projects" currentPage="projects">
  <PageTitle>Projects</PageTitle>
  <p class="mb-3 text-xl">
    I love community projects and open source software.
  </p>
  <p class="mb-5 text-base font-light opacity-80">I feel very comfortable in bash, python, R and  I love to automate things with nextflow. Java is something that I have learned in my masters but I've rarely had to use it. I'm activly learning rust when python or R don't cut it. Below are some of the key projects that I've spent quite some time on.</p>
  <HomepageButton href="https://github.com/Joon-Klaps/" icon="mdi:github" title="GitHub" />
  <ul>
    {
      projects
        .sort((a, b) => a.data.order - b.data.order)
        .filter((p) => p.data.personal != true && p.data.archived != true)
        .map((p) => (
          <HorizontalCard
            title={p.data.title}
            img={p.data.iconImage}
            imgDark={p.data.iconImageDark ?? p.data.iconImage}
            noIconPadding={p.data.noIconPadding}
            description={p.data.description}
            url={"/projects/" + p.slug}
          />
        ))
    }
    {
      projects
        .sort((a, b) => a.data.order - b.data.order)
        .filter((p) => p.data.personal != true && p.data.archived == true)
        .map((p) => (
          <HorizontalCard
            title={p.data.title}
            img={p.data.iconImage}
            imgDark={p.data.iconImageDark ?? p.data.iconImage}
            noIconPadding={p.data.noIconPadding}
            description={p.data.description}
            url={"/projects/" + p.slug}
            badge="Archived"
          />
        ))
    }
  </ul>
</BaseLayout>
